.product-controllers {
    display: flex;
    flex-direction: column;
    width: 100%;

    .product-controll-unit {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .product-action:hover {
        cursor: pointer;
    }

    .product-disable {
        opacity: 0;
        // display: none;
    }

    .product-controll-delete-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}